---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import { fetchAllPost } from '@utils/index'
const { allPosts } = await fetchAllPost()
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const pageTitle = 'Tag Index'
---

<Layout title={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tags__tag-item">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>

<style>

  .tags {
    @apply flex items-center gap-2 justify-start flex-wrap;
    &__tag-item {
      @apply text-white px-4 py-1 text-sm bg-amber-500 hover:bg-amber-600 uppercase cursor-pointer rounded-full;
      a {
        @apply text-white;
      }
    }
  }


</style>
