---
import Layout from '@layouts/Layout.astro'
import { fetchAllPost } from '@utils/index'
import PostList from '@components/PostList.astro'
const { techToolsAndPractices } = await fetchAllPost()
---

<Layout title="技术工具与实践">
  <div class="mt-10 grid gap-10 md:grid-cols-2 lg:gap-10 xl:grid-cols-3">
    {techToolsAndPractices.map((post) => <PostList post={post} />)}
  </div>
</Layout>

