---
interface Props {
  url: string;
  title: string;
}
const { url, title } = Astro.props
---

<li class="category-item">
  <a href={url}>{title}</a>
</li>

<style lang="scss">
  .category-item {
      border-bottom: 1px solid #efefef;
      @apply py-2;
      a {
        color: #666;
      }
    }
    :global(.dark) {
      .category-item {
      a {
        color: #fff;
      }
    }
    }
</style>
