---
import Social from './Social.astro'
---

<footer class="footer">
  <div class="footer-container">
    <!-- <div class="social-media">
      <div>
        <span>社媒:</span>
      </div>
      <Social platform="twitter" username="mohaiyo" />
      <Social platform="github" username="mohaiyo" />
    </div> -->
    <div class="text-sm text-gray text-center">&copy;2023. All right reserved;</div>
  </div>
</footer>

<style lang="scss">
  .footer {
    background-color: #fff;
    z-index: 9;

    &-container {
      @apply container mx-auto px-2 py-4;
      .social-media {
        @apply text-sm flex items-center;
      }
    }
  }

  :global(.dark) {
    .footer {
      background-color: #18181b;
      color: #fff;
    }
  }
</style>
