---
const fullYear = new Date().getFullYear()
---

<footer class='footer'>
  <div class='footer-container'>
    <div class='text-center text-sm text-black dark:text-white'
      >Copyright &copy; {fullYear} TechConnect. All right reserved</div
    >
  </div>
</footer>

<style scoped>
  .footer {
    background-color: #fff;
    z-index: 9;

    &-container {
      @apply container mx-auto mt-10 max-w-screen-lg px-8 py-5 lg:py-8 xl:px-5;
      .social-media {
        @apply flex items-center text-sm;
      }
    }
  }

  :global(.dark) {
    .footer {
      background-color: #18181b;
      color: #fff;
    }
  }
</style>
