---

---

<div class="hamburger flex lg:hidden">
  <span class="hamburger__line"></span>
  <span class="hamburger__line"></span>
  <span class="hamburger__line"></span>
</div>

<style lang="scss">
  .hamburger {
    @apply p-1 flex-col items-center justify-center;
    &__line {
      border-bottom: 2px solid #000;
      height: 2px;
      display: block;
      width: 22px;
      margin-bottom: 6px;
    }
    &__line:last-child {
      margin-bottom: 0;
    }
  }
  :global(.dark) {
    .hamburger {
      &__line {
        border-bottom-color: #f1f2f4;
      }
    }
  }
</style>

<script>

</script>
