---

---

<div class="header-top">
  <div class="header-top__container container mx-auto py-6 px-4">
    <div class="header-top__logo">
      <a class="header-top__site-logo text-xl">Meranda</a>
    </div>
    <div class="header-top__search"></div>
    <div class="header-top__hamburger-icon"></div>
  </div>
</div>

<style></style>