---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import MobileNavigation from './MobileNavigation.vue'
---

<header class="header">
  <div class="header-container">
    <div class="header-logo">
      <a class="header-logo__site-logo">TechConnect</a>
      <p class="header-logo__site-slogan">创造，连接，改变世界</p>
    </div>
    <nav class="header-nav">
      <Navigation />
      <MobileNavigation />
      <div class="header-nav__mobile">
        <ThemeIcon />
        <Hamburger />
      </div>
    </nav>
  </div>
</header>

<style lang="scss" scoped>
  .header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 888;

    &-container {
      @apply container mx-auto px-4 py-2 flex justify-between items-center;
    }
    .header-logo {
      &__site-logo {
        @apply text-2xl;
      }
      &__site-slogan {
        @apply text-xs text-gray-500;
      }
    }
    .header-nav {
      @apply flex justify-end;
      width: 100%;
    }
    .header-nav__mobile {
      @apply flex gap-2;
      flex: 0 1 64px;
    }
  }

  :global(.dark) {
    .header {
      background-color: #18181b;
      color: #fff;
      .header-logo {
        &__site-slogan {
          color: #f1f2f4;
        }
      }
    }
  }
</style>
