---
import { categories, type CategoryItem } from "@data/category";
const categoriesWithHomePage: (CategoryItem | { title: '扶뒬못' ,slug: string; description?: string })[] = [{ title: '扶뒬못', slug: '', description: 'Home page'}, ...categories]
---

<div class="nav-links hidden lg:flex">
  {
    categoriesWithHomePage.map(item => <a href={'/' + item.slug}>{item.title}</a>)
  }
</div>

<style lang="scss">
  .nav-links {
    @apply w-full flex-auto justify-center px-6 py-2;
    a {
      line-height: 32px;
      @apply px-4;
      color: #333;
    }
  }
  :global(.dark) {
    .nav-links {
      a {
        color: #f1f2f4;
      }
    }
  }
</style>
