---
interface Props {
  platform: string;
  username: string;
}
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    @apply py-2 px-4 rounded-full text-xs m-1;
    color: white;
    background-color: #000;
    text-decoration: none;
  }
</style>
