---
interface Props {
  platform: string;
  username: string;
}
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
  a {
    @apply rounded-full m-1;
    text-decoration: none;
  }
</style>
