---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import '@styles/global.css'
interface Props {
  title?: string
  desc?: string
  ogimage?: string
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()
const checkImageUrl = (image: string, url?: URL) => {
  try {
    new URL(image)
    return image
  } catch (error) {
    return new URL(image, url).toString()
  }
}
const { title, desc, ogimage = '/og_image.png' } = Astro.props

const oGImageUrl = checkImageUrl(ogimage, Astro.site)

const seoTitle = title ? title + ' | ' + 'TechConnect' : 'TechConnect: 探索科技世界的无限可能'
---

<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={seoTitle}
      description={desc || 'TechConnect: 探索科技世界的无限可能'}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `TechConnect: 探索科技世界的无限可能`,
          image: oGImageUrl
        },
        image: {
          width: 1200,
          height: 630,
          alt: 'TechConnect'
        }
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="main-container">
      <slot />
    </main>
    <button class="back-to-top no-underline text-white bg-black z-10 leading-none h-10 w-10 xl:h-12 xl:w-12 text-2xl rounded-full fixed xl:bottom-12 xl:right-12 bottom-8 right-8 translate-y-24 invisible opacity-0 transition-all duration-500">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </button>
    <Footer />
    <script>
      import '../scripts/menu.ts'
    </script>

    <style>
     
      .main-container {
        @apply container mx-auto max-w-5xl px-4 py-6 text-sm;
        min-height: calc(100vh - 124px);
        line-height: 1.5;
      }

      @property --a{
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
      }
      button.back-to-top {
        overflow: hidden;
        background: repeating-conic-gradient(from var(--a), #ff2700 0%, #ff2700 5%, transparent 5%, transparent 40%, #ff2700 50%);
        animation: animation 4s linear infinite;
     
        &.show {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }

        &::before {
          @apply rounded-full;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: repeating-conic-gradient(from var(--a), #17f3fd 0%, #17f3fd 5%, transparent 5%, transparent 40%, #17f3fd 50%);
          animation: animation 4s linear infinite;
          animation-delay: -1s;
          left: 0;
          top: 0;
          z-index: -2;
        }
        &::after {
          @apply bg-neutral-800 rounded-full border-2 border-neutral-800;
          content: '';
          position: absolute;
          inset: 2px;
          z-index: -1;
        }

        @keyframes animation {
          0% {
            --a: 0deg;
          }
          100% {
            --a: 360deg;
          }
        }
      }
    </style>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
  </html
>
