---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'
interface Props {
  title?: string
  desc?: string
  ogimage?: string
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()
const checkImageUrl = (image: string, url?: URL) => {
  try {
    new URL(image)
    return image
  } catch (error) {
    return new URL(image, url).toString()
  }
}
const { title, desc, ogimage = '/og_image.png' } = Astro.props

const oGImageUrl = checkImageUrl(ogimage, Astro.site)

const seoTitle = title ? title + ' | ' + 'TechConnect' : 'TechConnect: 探索科技世界的无限可能'
---

<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/prism/prism-material-dark.css" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={seoTitle}
      description={desc || 'TechConnect: 探索科技世界的无限可能'}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `TechConnect: 探索科技世界的无限可能`,
          image: oGImageUrl
        },
        image: {
          alt: 'TechConnect'
        }
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="main-container">
      <slot />
    </main>
    <Footer />
    <script>
      import '../scripts/menu.ts'
    </script>
    <style lang="scss">
      .main-container {
        @apply container mx-auto max-w-4xl px-4 py-6 text-sm;
        min-height: calc(100vh - 124px);
        line-height: 1.5;
      }
    </style>
  </body></html
>
